.mb{
    &-05{
        margin-bottom: 0.5rem;
    }
    &-1{
        margin-bottom: 1rem;
    }
    &-12{
        margin-bottom: 1.2rem;
    }
    &-14{
        margin-bottom: 1.4rem;
    }
    &-16{
        margin-bottom: 1.6rem;
    }
    &-24{
        margin-bottom: 2.4rem;
    }
    &-32{
        margin-bottom: 3.2rem;
    }
}

.flex{
    display: flex;
    &-vCenter{
        align-items: center;
    }
    &-hCenter{
        justify-content: center;
    }
}
