// Theme Colors
$primary: #01D167;
$secondary: #0C365A;
$secondary-lt: #325BAF;

// State Colors
$success: #5dc0a6;
$warning: #ffaf65;
$danger: #e42c64;
$info: #0075f6;

// General Colors
$black: #000;
$white: #fff;
$white-03: rgba($white, 0.3);

// Gray Colors
$gray-100: #FAFBFE;
$gray-200: #9A9A9A;
$gray-300: #666666;
$gray-400: #222222;
$gray-500: #181b31;

// Typography
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Livvic', sans-serif;
$font-size: 1.6rem;

// Sidebar
$sidebar-width: 34rem;