$gutter: 2rem;
.card{
    &__row{
        display: flex;
        align-items: flex-start;
        margin-left: -$gutter;
        margin-right: -$gutter;
        @include responsive(handhelds){
            flex-direction: column;
        }
    }
    &__col{
        &--lt,
        &--rt{
            width: columns(2);
            padding-left: $gutter;
            padding-right: $gutter;
            @include responsive(handhelds){
                width: 100%;
            }
        }
        &--lt{
            @include responsive(handhelds){
                padding-left: 0;
                padding-right: 0;
            }
        }
        &--rt{
            @include responsive(handhelds){
                background: $white;
                padding-top: $gutter-sm;
                padding-bottom: $gutter-sm;
            }
        }
    }
}